.teams {
    display: flex;
    justify-content: center;
    align-content: center;
}

.teamsTable {
    min-height: 450px;
    margin: 15px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFB4A2;
    opacity: 0.9;
    border-radius: 25px;
    padding: 20px;
    color: #B5838D;
}