.tokens {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tokensCard {
    min-height: 450px;
    width: 350px;
    margin: 15px;
    color: white;
    border-radius: 50px;
    background-color: #B5838D;
    opacity: 0.75;
}

.tokensTitle {
    margin-top: 10px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.tokensButton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tokensBuyButton {
    color: white;
    background-color: #b95f71;
    border-radius: 10px;
    margin: 20px;
    min-height: 50px;
    text-align: center;
}