.selectToken {
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.selectDescribe {
    display: flex;
}

.selectImg {
    margin: 5px;
}

.selectTitle {
    margin: 5px;
}

.selectAmount {
    background-color: #E5989B;
    border-radius: 10px;
    margin: 5px;
    min-height: 50px;
    text-align: center;
}